@import "./src/style/variable";

.tabs-content-wrapper {
    background-color: $tabs-bg-color;
    padding: 25px;

    .tab-content {
        margin: 0 10px;
        border-bottom: 1px solid $tabs-border-color;
        width: calc(50% - 20px);
        float: left;
        position: relative;
        z-index: 0;
        background-color: transparent;
        transition: ease background-color .5s;
        padding: 10px 75px 10px 50px;

        &:hover {
            background-color: $hover-bg-color;
        }

        &.active {
            z-index: 1;
            background-color: $hover-bg-color;

            .contact-name {
                cursor: default;
            }
        }

        .contact-name {
            cursor: pointer;

            &:hover {
                .action-btn {
                    opacity: 1;
                }
            }

            .select-contact, .action-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .select-contact {
                left: 10px;
                height: 100%;
                margin: 0;
            }

            .action-btn {
                right: 10px;
                opacity: 0;
                font-size: $small-font-size;
            }
        }
    }

    .bulk-action-wrapper, .search-filter {
        margin-bottom: 20px;
        padding: 0 10px;
    }

}

@media screen and (max-width: 991px) {
    .tabs-content-wrapper {
        .tab-content {
            .contact-name {
                .action-btn {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .tabs-content-wrapper {
        .tab-content {
            float: none;
            width: 100%;
            margin: 0;
        }

        .bulk-action-wrapper {
            padding: 0;
        }
    }
}

@media screen and (max-width: 421px) {
    .tabs-content-wrapper {
        padding: 10px;

        .bulk-action-wrapper {
            button {
                font-size: $small-font-size;
                margin-right: 0;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
