$theme-color: #f8f8f9;
$default-content-color: #333333;
$light-content-color: #999999;

$tabs-bg-color: #eeeeee;
$tabs-border-color: #d5d5d5;
$tabs-active-shadow: #000;

$hover-bg-color: #dddddd;

$box-shadow: rgba(0,0,0,0.4);

$large-font-size: 28px;
$medium-font-size: 20px;
$regular-font-size: 14px;
$small-font-size: 12px;
$tiny-font-size: 10px;
